:root {
    --blue: #20234A;
    --blue25: #20234A25;
    --blue50: #20234A50;
    --blue75: #20234A75;
    --red: #D6404E;
    --red25: #D6404E25;
    --red50: #D6404E50;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Outfit;
}

.material-icons-outlined {
    user-select: none;
    font-family: 'Material Symbols Outline';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' -25,
        'opsz' 40
}

p,
label,
a {
    font: 400 16px Outfit, sans-serif;
    color: var(--blue);
}

label {
    font-weight: 500;
}

.bold {
    font-weight: 700;
}

.important {
    font-weight: 700;
    color: var(--red);
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.big_text {
    font-size: 24px;
}

.blue75 {
    color: var(--blue75);
}

.incorrect_pass {
    color: #000;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(202, 2, 2, 0.3);
}

.privileges {
    background: #f0a9b0;
    height: 15px;
    z-index: 10;
}

.privileges p {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 12px;
}

.hidden {
    display: none !important;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
    font: 400 16px Outfit, sans-serif;
    padding: 8px;
    width: 100%;
    border: none;
    border-radius: 10px;
    outline: none;
    caret-color: var(--red);
}

input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="email"]::placeholder,
input[type="number"]::placeholder {
    color: var(--blue75);
}

body {
    overflow-x: hidden;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 20%;
    margin-bottom: 30px;
}

.btn {
    background-color: var(--red);
    color: white;
    border: none;
    border-radius: 0 20px 0 20px;
    padding: 10px 50px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.btn a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.connection {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    height: 80px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    border-bottom: 1px solid #eee;
}

nav .logo {
    margin: 0;
}

nav .logo img {
    height: 50px;
}

nav .privileges__title {
    font-size: 20px;
    font-weight: 500;
}

.user {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.user__pic {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #BDEEB4;
    position: relative;
}

.user__pic:hover::after {
    background: var(--blue75);
    cursor: pointer;
    content: "Deconnexion";
    position: absolute;
    top: 60px;
    left: 100%;
    transform: translateX(-100%);
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    z-index: 10;
}

.user__pic p {
    font-size: 24px;
    font-weight: bold;
}

.clients_manage {
    padding: 0 15px;
}

.clients_manage p {
    font-size: 18px;
}

.actions__wrapper {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.action__self {
    border: 2px solid var(--blue75);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: all 0.1s ease;
}

.action__self:hover {
    box-shadow: 0 0 10px 0 rgba(32, 35, 74, 0.2);
}

.action__self_title {
    font-size: 24px;
}

.action__self_desc {
    font-size: 18px;
    color: var(--blue75);
}

.action_btn {
    border: 1px solid var(--blue);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    gap: 5px;
    cursor: pointer;
    font-weight: bold;
    background: none;
}

.action_btn:hover {
    background: var(--blue25);
}

.btn_del:hover {
    background: var(--red25);
}

.btn_add {
    color: var(--blue);
}

.action_btn.btn_del {
    border: 1px solid var(--red);
}

.btn_del {
    color: var(--red);
}


.form__group {
    width: 100%;
}

.input__container {
    border: 1px solid #eee;
    background: #fdfdfd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4px 0px 10px;
    padding: 0 0 0 10px;
    color: var(--blue);
    border-radius: 10px;
}

.clients_manage .input__container {
    padding: 0;
}

.form__action {
    position: absolute;
    bottom: 50px;
    padding: 0 30px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.btn__confirm,
.btn__cancel {
    font-size: 16px;
    font-weight: bold;
}

.btn__confirm {
    background: var(--blue);
}

.btn__delete {
    background: var(--red);
}

.btn__cancel {
    background: #F9F9F9;
    color: var(--blue);
    border: 2px solid var(--blue);
}

.actions_btn {
    border-radius: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    padding: 0px 10px;
    height: 40px;
    width: 150px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.form__action .btn__confirm {
    background: var(--blue);
    color: #fff;
    border: none;
}

.form__action .btn__delete {
    background: var(--red);
    color: #fff;
    border: none;
}

.form__action .actions_btn .icon {
    font-size: 24px;
}

.clients_manage__search {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px;
}

.clients_manage__search form {
    width: 150px;
}

.clients_manage__search .input__container {
    margin: 0;
}

#search {
    display: flex;
    height: 25px;
    border-radius: 50px;
}

.form__group .po_search {
    padding-left: 8px;
    border-radius: 50px;
}

.po_search .icon {
    font-size: 20px;
    color: var(--blue75);
}

.label {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.label p {
    font-size: 14px;
}

.nameSIREN {
    display: inline;
    flex-direction: column;
    height: 100%;
}

.nameSIREN .blue75 {
    font-size: 14px;
    font-weight: 500;
}

.client_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: #f8f8f8;
    margin-bottom: 10px;
}

.flex {
    width: 100%;
    display: flex;
}

.flex1 {
    justify-content: start;
}

.flex2 {
    justify-content: center;
}

.flex3 {
    justify-content: end;
}

.client_item,
.label {
    padding: 8px 15px;
}

.client_item p:not(.blue75) {
    font-size: 18px;
    font-weight: bold;
}

.navbar {
    border-top: 1px solid var(--blue);
    background: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 64px;
    z-index: 10;
}

.icon_container {
    height: 50px;
    width: 50px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_container:hover {
    background: var(--blue50);
}

.red {
    color: var(--red);
}

::-webkit-datetime-edit-text {
    padding: 0 0.2em;
}

input[type="date"] {
    font: 400 16px Outfit, sans-serif;
    padding: 8px;
    border: none;
    outline: none;
}

.remittance_sect,
.unpaid_section,
.graphics_section {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.export_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.export_wrap_2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}


.export {
    border: 2px solid var(--blue);
    background: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.remittance_results_wrap,
.unpaid_results_wrap {
    margin-bottom: 10px;
}

.remittance_results {
    border: 1px solid var(--blue);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    margin: 20px 10px 20px 10px;
    transition: all 0.1s ease;
}

.remittance_results-active {
    outline: 1px solid var(--red);
    border: 1px solid var(--red);
    background: #fafafa;
}

.remittance_results__details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: #F6F6F6;
    margin: 5px 0 10px 0;
    padding: 10px;
}

.unpaid_results {
    border: 1px solid var(--blue);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    margin: 20px 10px 20px 10px;
}


.positive .montant {
    color: green;
    font-weight: bold;
}

.negative .montant {
    color: var(--red);
    font-weight: bold;
}

.form__radio {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
    gap: 80px;
}

.radio__graphics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.select__group {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-right: 15px;

}

.select__group label {
    margin-right: 40px;
}


.pc-nav {
    display: none;
}

.options_text {
    margin: 20px 0 20px 0;
}

.radio__container {
    width: 100%;
}

.radio__graphics {
    margin-left: 40px;
}

.radio__graphics label {
    width: 120%;
}

.options_text {
    margin-bottom: 30px;
}

#container {
    height: 30%;
}

.treasury_sect {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.treasury_sep {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.treasury_user__form {
    align-items: inherit;
    width: inherit;
}

.highcharts-figure {
    border: 1px solid var(--blue);
    border-radius: 10px;
    padding: 5px;
    width: 90% !important;
}


@media (min-width: 1300px) {

    .actions__wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .treasury_user__form {
        align-items: flex-start;
        width: 50%;
    }

    .privileges {
        height: 22px;
        position: fixed;
        width: 100%;
        bottom: 0;

    }

    .privileges p {
        font-size: 15px;
    }

    nav .privileges__title {
        font-size: 30px;
    }

    .clients_manage__search {
        width: 100%;

    }

    .clients_manage__search form {
        width: 30%;
        margin-top: 0.5%;
        margin-right: 1%;
    }

    .logos {
        display: flex;
        visibility: visible;
        align-items: center;
        justify-content: space-between;
    }

    .logos .icon_container:active {
        background: var(--blue75);
    }

    .navbar {
        visibility: collapse;
    }

    .mobile-nav {
        display: none;
    }

    .unpaid_results {
        grid-template-columns: repeat(3, 1fr);
    }

    .client__form {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .graphics__form {
        align-items: flex-start;
        flex: auto;
    }

    .PO_graphs_sect {
        position: relative;
    }

    .PO_graphs_sect .graphcontainerPO .highcharts-figure {
        margin: 0;
        width: 50%;
        flex: auto;
    }

    .PO_graphs_sect .graphcontainerPO {
        display: flex;
        align-items: flex-start;
        height: 500px;
    }

    .graphcontainerPO form {
        width: 50%;
        flex: auto;
    }

    .graphcontainerPO .form__group {
        width: 100%;
    }

    .form__group,
    .unpaid_results {
        width: 80%;
    }

    .unpaid_results_wrap {

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .unpaid_result {
        margin-left: 20%;
    }


    form.graphics__form .form__group .input__container {
        width: 50%;
        left: 0px;
    }

    .radio__container {
        position: absolute;
        bottom: 38%;
        width: auto;
        margin-left: 50%;
        margin-bottom: 40px;
    }

    #select_graphics,
    #button_graphics {
        margin-right: 8%;
    }

    #container {
        height: 100%;
    }

    .highcharts-figure {
        border: 1px solid var(--blue);
        border-radius: 10px;
        padding: 20px;
        width: 60% !important;
    }

    .graphics {
        position: absolute;
        width: 50% !important;
        height: 50% !important;
        margin-top: 110px !important;
        right: 20px;
    }

    .graphics .highcharts-figure {
        width: 100% !important;
    }

    input[type="radio"] {
        -ms-transform: scale(1.5);
        /* IE 9 */
        -webkit-transform: scale(1.5);
        /* Chrome, Safari, Opera */
        transform: scale(1.5);
        accent-color: var(--red);
        margin-right: 10px;
    }

    .radioformgroup {
        display: flex;
        align-items: center;
        width: fit-content;
        margin-bottom: 10px;
    }

    .radioformgroup:hover label {
        text-decoration: underline;
        color: var(--blue);
    }

    .options_text {
        margin-bottom: 48px;
    }

    .radio__container label,
    .form__group label,
    .radio__container p,
    .form__group p {
        font-size: 1vw;
        vertical-align: middle;
    }

    .options_text {
        margin-bottom: 78px;
    }

}